[submodule "mihari/themes/hugo-profile"]
	path = mihari/themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "blog/themes/hugo-theme-stack"]
	path = blog/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
